set autoindent

# Syntax Highlight
include "/usr/share/nano/*.nanorc"

# Color
set titlecolor white,green
set numbercolor white,green
set statuscolor white,green

# Settings
set linenumbers
set tabsize 2
set tabstospaces
